header {
    height: 100vh;
    padding-top: 3rem;
    overflow: hidden;
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #f6f6f6, #ffffff), repeating-radial-gradient(circle at center center, #f6f6f6, #f6f6f6, 33px, transparent 66px, transparent 33px);
    background-blend-mode: multiply;
}

.header__container {
    text-align: left;
    height: 100%;
    position: relative;
}

.btn__header {
    margin-top:1rem ;
    display: flex;
    gap: 1rem;
    height: 2rem;
}

.header__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    bottom: 3rem;
}

.header__social::after {
    content: '';
    width: 1px;
    background: var(--color-primary);
    height: 2rem;
}

.profile {
    width: 25rem;
    height: 30rem;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    overflow: hidden;
    padding: 4rem 1.5rem 1.5rem 1.5rem;
}

.scroll__down {
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--color-primary);
    position: absolute;
    right: 0rem;
    bottom: 5rem;
    transform: rotate(90deg);
}

/* ========== MEDIA QUERIES (MED) ========== */
@media screen and (max-width : 1024px) {
    header {
        height: 68vh;
    }
}

/* ========== MEDIA QUERIES (SML) ========== */
@media screen and (max-width : 600px) {
    header {
        height: 100vh;
    }

    .header__social,
    .scroll__down {
        display: none;
    }
}